* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  background-color: #e1e0e0;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(21, 21, 21);
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(51, 51, 51);
}

.card h1 {
  margin-top: 5px;
}

.card h3 {
  margin-top: 10px;
}

.card p {
  margin-top: 10px;
}

.card h3 button {
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}
